@mixin font-base($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family;
  font-size: to.rem(#{$font-size}px);
  font-weight: $font-weight;
  line-height: to.rem(#{$line-height}px);
}

@mixin font-mixin($font-family, $font-weight, $font-color) {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin responsive-font-size-line-height(
  $font-size,
  $font-size-max,
  $line-height,
  $line-height-max,
  $screen-size: 1320
) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    font-size: max(to.rem(#{$font-size}px), to.rem(calc(#{$font-size-max} * (100vw / $screen-size))));
    line-height: max(to.rem(#{$line-height}px), to.rem(calc(#{$line-height-max} * (100vw / $screen-size))));
  }
}

@mixin responsive-paddings(
  $top: 0,
  $top-max: 0,
  $bottom: 0,
  $bottom-max: 0,
  $left: 0,
  $left-max: 0,
  $right: 0,
  $right-max: 0,
  $screen-size: 1320,
  $modificator: 1
) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding: max(to.rem(#{$top}px), to.rem(calc(#{$top-max} * (100vw / $screen-size) * $modificator)))
      max(to.rem(#{$right}px), to.rem(calc(#{$right-max} * (100vw / $screen-size) * $modificator)))
      max(to.rem(#{$bottom}px), to.rem(calc(#{$bottom-max} * (100vw / $screen-size) * $modificator)))
      max(to.rem(#{$left}px), to.rem(calc(#{$left-max} * (100vw / $screen-size) * $modificator)));
  }
}

@mixin responsive-paddings-all($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding: max(to.rem(#{$top}px), to.rem(calc(#{$top-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-paddings-top($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding-top: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-paddings-bottom($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding-bottom: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-paddings-left($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding-left: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-paddings-right($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    padding-right: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}

@mixin responsive-margins-all($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    margin: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}

@mixin responsive-margins-top($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    margin-top: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}

@mixin responsive-gaps($top, $top-max, $bottom, $bottom-max, $left, $left-max, $right, $right-max, $screen-size: 1320) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    gap: max(to.rem(#{$top}px), to.rem(calc(#{$top-max} * (100vw / $screen-size))))
      max(to.rem(#{$right}px), to.rem(calc(#{$right-max} * (100vw / $screen-size))))
      max(to.rem(#{$bottom}px), to.rem(calc(#{$bottom-max} * (100vw / $screen-size))))
      max(to.rem(#{$left}px), to.rem(calc(#{$left-max} * (100vw / $screen-size))));
  }
}

@mixin responsive-gaps-all($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    gap: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-gaps-row($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    row-gap: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}
@mixin responsive-gaps-column($size, $size-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    column-gap: max(to.rem(#{$size}px), to.rem(calc(#{$size-max} * (100vw / $screen-size) * #{$modificator})));
  }
}

@mixin media-custom($screen-size: 1320) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    @content;
  }
}

@mixin responsive-param($property, $value, $value-max, $screen-size: 1320, $modificator: 1) {
  @media screen and (max-width: to.rem(#{$screen-size}px)) {
    #{unquote($property)}: max(
      to.rem(#{$value}px),
      to.rem(calc(#{$value-max} * (100vw / #{$screen-size}) * #{$modificator}))
    );
  }
}
