h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $black;
}

.container {
  max-width: to.rem(1320px);
  width: 100%;
}

.btn {
  @include font-base($font-onest, 25, 400, 32.5);
  color: $black;
  text-align: center;
  text-transform: uppercase;
  background-color: $yellow;
  border-radius: 35px;
  padding: to.rem(20.5px 0);
  @include responsive-font-size-line-height(16, 25, 20, 32.5, 1320);
}

.title {
  color: $black;
  text-transform: uppercase;
  @include font-base($font-onest, 100, 800, 110);
  @include responsive-font-size-line-height(50, 100, 60, 110, 1320);
}

.text {
  color: $black;
  @include font-base($font-inter, 20, 400, 26);
  @include responsive-font-size-line-height(16, 20, 21, 26, 1320);
}

.section {
  display: flex;
  justify-content: center;
  padding: to.rem(150px 16px);
  overflow: hidden;

  @media screen and (max-width: 1320px) {
    padding: max(to.rem(60px), to.rem(calc(150 * (100vw / 1320)))) to.rem(16px);
  }
}
