h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $black;
}

.container {
  max-width: to.rem(1320px);
  width: 100%;
}

.btn {
  color: $black;
  text-align: center;
  font-family: $font-onest;
  font-size: to.rem(25px);
  font-weight: 400;
  text-transform: uppercase;
  background-color: $yellow;
  border-radius: 35px;
  padding: to.rem(20.5px 72px);
}

.title {
  color: $black;
  font-family: $font-onest;
  font-size: to.rem(100px);
  font-weight: 800;
  text-transform: uppercase;
}

.text {
  color: $black;
  font-family: $font-inter;
  font-size: to.rem(20px);
  font-style: normal;
  font-weight: 400;
  line-height: to.rem(26px);
}
