.camps {
  &__container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: to.rem(100px 40px);
    grid-template-areas:
      "content image"
      "message message"
      "slider slider";
    @include responsive-gaps(60, 100, 60, 100, 0, 40, 0, 40, 1320);
  }
  &__content {
    grid-area: content;
  }
  &__title {
  }
  &__text {
  }
  &__text:first-of-type {
    padding-top: to.rem(75px);
  }
  &__text:not(:last-child) {
    padding-bottom: to.rem(24px);
  }
  &__text:last-of-type {
    padding-bottom: to.rem(65px);
  }
  &__btn {
    background-color: $white;
    border: 1px solid $black;
    width: 100%;
    padding: to.rem(19px 0 16px);
    @include responsive-paddings(16, 19, 13, 16);
  }
  &__image-block {
    padding-right: 19px;
    grid-area: image;
  }
  &__image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    border: 20px solid #ffe600;
    transform: rotate(5deg);

    @include media-custom(1320) {
      border: max(to.rem(12px), to.rem(calc(20 * (100vw / 1320)))) solid #ffe600;
    }
  }
  &__image {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    height: 100%;
  }

  &__message {
    grid-area: message;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    @include font-base($font-onest, 70, 800, 91);
    @include responsive-font-size-line-height(32, 70, 41, 91, 1320);
  }
  &__slider {
    grid-area: slider;
  }
}
