.camps-swiper {
  cursor: pointer;
  &__image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
  }

  &__pagination {
    top: to.rem(-20px);
    left: 0;
    &-wrapper {
      position: relative;
      width: 100%;
      height: to.rem(10px);
    }
    &-bullet.swiper-pagination-bullet {
      width: to.rem(12px);
      height: to.rem(12px);
      background-color: rgba(255, 255, 255, 0.3);
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px) !important;
    }
    &-active {
      background-color: $white;
    }
  }

  &__button {
    padding: to.rem(3px);
    width: fluid-value(50px, 100px);
    height: fluid-value(50px, 100px);
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: fluid-value(40px, 50px);

    &::after,
    &::before {
      display: none;
    }
    &-next {
    }

    &-prev {
    }
  }
  &__button.swiper-button-disabled {
    background-color: #d8d2c3;
  }
}
