.card {
  &__content {
    height: 100%;
    border-radius: 35px;
    border: 1px solid $yellow;
    overflow: hidden;
  }

  &__image-block {
  }

  &__swiper {
  }

  &__description {
    padding: to.rem(80px 40px 86px);
  }

  &__title {
    color: $light-grey;
    font-family: $font-onest;
    font-size: to.rem(40px);
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    padding-bottom: to.rem(48px);
  }

  &__subtitle {
    display: block;
    color: $grey;
    font-family: $font-inter;
    font-size: to.rem(20px);
    font-weight: 600;
    line-height: to.rem(46px);
    text-transform: capitalize;
  }

  &__text {
    color: $light-grey;
    font-family: $font-inter;
    font-size: to.rem(20px);
    font-weight: 400;
    line-height: to.rem(26px);
  }
  &__text:not(:last-child) {
    padding-bottom: to.rem(24px);
  }

  &__list {
    color: $light-grey;
    font-family: $font-inter;
    font-size: to.rem(20px);
    font-weight: 400;
    line-height: to.rem(26px);
    padding-left: to.rem(22px);
    padding-bottom: to.rem(28px);
  }

  &__item {
    list-style-type: disc;
  }

  &__price {
    color: $light-grey;
    font-family: $font-inter;
    font-size: to.rem(20px);
    font-weight: 400;
    line-height: 130%;
    &--bold {
      font-weight: 700;
    }
  }

  &__cta {
    padding: to.rem(20px 0);
    display: flex;
    flex-direction: column;
    gap: to.rem(12px);
  }

  &__btn {
  }
}
