.contacts {
  overflow: auto;
  &__title {
    padding-bottom: fluid-value(40px, 75px);
  }

  &__body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: to.rem(40px);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid-value(20px, 25px);
  }
  &__content-link {
    display: block;
  }

  &__footer {
    padding-top: fluid-value(60px, 150px);
  }

  &__footer-title {
    padding-bottom: fluid-value(40px, 75px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: fluid-value(10px, 40px);
  }

  &__item {
    width: 100%;
  }

  &__link {
    width: 100%;
    display: block;
    border-radius: to.rem(35px);
    border: to.rem(1px) solid #323232;
    text-align: center;
    padding: to.rem(25px 0) fluid-value(18px, 25px);
    @include font-base($font-onest, fluid-value(16px, 25px), 400, fluid-value(20.8px, 26px));
  }

  @include media-custom(760) {
    &__body {
      display: flex;
      flex-direction: column;
      row-gap: to.rem(32px);
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
