.footer {
  background-color: $black;
  display: flex;
  justify-content: center;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__year {
    display: block;
    color: $white;
    padding: to.rem(60px 0 84px);
    @include font-base($font-inter, 30, 400, 39);
  }

  &__title {
    text-fill-color: $black;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke: 1px to.rem() $white;
    -webkit-text-stroke: to.rem(1px) solid $white;
    text-stroke: to.rem(1px) solid $white;
    text-transform: uppercase;
    margin-left: to.rem(-16px);
    @include font-base($font-onest, 267, 700, 180);

    // line-height: 191px;
    @include responsive-font-size-line-height(69, 267, 80, 180, 1320);
  }
}
