.footer {
  background-color: $black;
  display: flex;
  justify-content: center;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__year {
    display: block;
    color: $white;
    padding: fluid-value(24px, 60px) 0 fluid-value(32px, 84px);
    @include font-base($font-inter, fluid-value(16px, 30px), 400, fluid-value(20.8px, 39px));
  }

  &__title {
    text-fill-color: $black;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke: to.rem(1px) $white;
    -webkit-text-stroke: to.rem(1px) solid $white;
    text-stroke: to.rem(1px) solid $white;
    text-transform: uppercase;
    margin-left: to.rem(-16px);
    @include font-base($font-onest, fluid-value(69px, 267px), 700, fluid-value(80px, 180px));
  }
}
