.footer {
  position: relative;
  background-color: $black;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: fluid-value(24px, 60px) to.rem(16px) fluid-value(82px, 273px);
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__year {
    display: block;
    color: $white;
    @include font-base($font-inter, fluid-value(16px, 30px), 400, fluid-value(20.8px, 39px));
  }

  &__title {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: to.rem(-10px);
    padding: 0 to.rem(16px);
    text-fill-color: $black;
    -webkit-text-fill-color: $black;
    -webkit-text-stroke: to.rem(1px) $white;
    -webkit-text-stroke: to.rem(1px) solid $white;
    text-stroke: to.rem(1px) solid $white;
    text-transform: uppercase;
    margin-left: to.rem(-16px);
    @include font-base($font-onest, fluid-value(69px, 267px), 700, fluid-value(80px, 180px));

    @media (max-width: to.rem(760px)) {
      bottom: fluid-value(-18px, -11px, 320px, 760px);
    }
  }
}
