.form {
  padding-top: 0;
  &__form {
    display: flex;
    flex-direction: column;
    gap: to.rem(20px);
    align-items: center;
  }
  &__label {
    display: block;
    max-width: to.rem(550px);
    width: 100%;
  }
  &__input {
    padding: fluid-value(16px, 20px) to.rem(10px) fluid-value(18px, 20px);
    border-radius: fluid-value(25px, 35px);
    border: to.rem(1px) solid $black;
    width: 100%;
    @include font-mixin($font-inter, 400, $black);
  }

  &__btn {
    max-width: to.rem(550px);
    width: 100%;
    margin-top: 0;
  }
}
