@import "./nav";

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: to.rem(760px)) {
    &:has(.toggle-menu > input:checked) &__nav {
      transform: translate(0, 0);
    }
  }

  &__container {
    padding: to.rem(40px) to.rem(16px) 0;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    @media (max-width: to.rem(760px)) {
      justify-items: baseline;
    }
  }

  &__nav {
    width: 100%;
    position: absolute;
    grid-row: 1/2;
    grid-column: 1/4;

    @media (max-width: to.rem(760px)) {
      width: 100vw;
      top: -40px;
      left: -16px;
      grid-column: 1/4;
      height: 100vh;
      z-index: 88888;
      transform: translate(-1000px, 0px);
    }
  }

  &__logo {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    height: fluid-value(50px, 80px);
    width: fluid-value(50px, 80px);

    @media (max-width: to.rem(760px)) {
      grid-column: 1/2;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
