.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: to.rem(0 15px);
}

.hero {
  &__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }

  &__description {
  }

  &__title {
    white-space: nowrap;
    text-fill-color: $white; // Use for Safari
    -webkit-text-fill-color: $white; // Use for Chrome
    -webkit-text-stroke: 1px to.rem() $black; // Use for Chrome
    -webkit-text-stroke: to.rem(1px) solid $black;
    text-stroke: to.rem(1px) solid $black;
    letter-spacing: to.rem(2px);
    text-transform: uppercase;
    padding-top: to.rem(110px);

    @include font-base($font-onest, 100, 800, 110);
    @include responsive-font-size-line-height(40, 100, 45, 110);
    @include responsive-paddings-top(46, 110);

    &--black {
      text-fill-color: $black;
      -webkit-text-fill-color: $black;
      text-stroke: none;
      -webkit-text-stroke: none;
    }
  }

  &__subtitle {
    padding-top: to.rem(32px);
    color: $black;
    @include font-base($font-inter, 32, 400, 27.756);
    @include responsive-font-size-line-height(16, 32, 17.6, 27.756);
    @include responsive-paddings-top(24, 32);
  }

  &__top {
    grid-area: 1 / 1 / 2 / span 8;
    position: relative;
    z-index: 1000;
  }

  &__bottom {
    grid-area: 2 / 10 / 3 / span 5;
    padding-top: to.rem(150px);
    padding-left: to.rem(14px);
    @include responsive-paddings-top(40, 150);
  }

  &__picture {
    &-top {
      grid-area: 1 / 9 / 2 / span 6;
      display: flex;
      justify-content: flex-end;
    }
    &-bottom {
      grid-area: 2 / 1 / 3 / span 9;
      position: relative;
      z-index: -1;
    }

    &-wrapper-top {
      position: relative;
      width: 90%;
      padding-top: 122%;
      transform: rotate(5deg);
    }

    &-wrapper-bottom {
      position: relative;
      width: 100%;
      height: 80%;
      transform: rotate(-5deg);
    }
  }

  &__img {
    &-top {
      position: absolute;
      top: to.rem(65px);
      right: to.rem(27px);
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right bottom;
      border: to.rem(16px) solid $yellow;

      @include responsive-param("border-width", 12, 16);
    }

    &-bottom {
      position: absolute;
      top: to.rem(61px);
      left: to.rem(-3px);
      height: 100%;
      width: 98%;
      object-fit: cover;
      object-position: right bottom;
    }
  }

  &__text {
    max-width: to.rem(448px);
    color: $black;
    font-family: $font-inter;
    font-size: to.rem(20px);
    line-height: to.rem(26px);
  }
  &__text:not(:last-child) {
    padding: to.rem(68px 0 24px);
  }

  &__btn {
    margin-top: to.rem(60px);
    padding: to.rem(20.5px 72px);

    @include responsive-paddings(16, 20.5, 16, 20.5, 30, 72, 30, 72, 1320);
    @include responsive-margins-top(32, 60);
  }
}
