.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: to.rem(40px 15px 0);
}

.hero {
  &__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }

  &__description {
  }

  &__title {
    text-fill-color: $white; // Use for Safari
    -webkit-text-fill-color: $white; // Use for Chrome
    -webkit-text-stroke: 1px to.rem() $black; // Use for Chrome
    -webkit-text-stroke: to.rem(1px) solid $black;
    text-stroke: to.rem(1px) solid $black;
    letter-spacing: to.rem(2px);
    text-transform: uppercase;

    @include font-base($font-onest, 100, 800, 110);
    @include responsive-font-size-line-height(40, 100, 45, 110, 1320);
    // @include responsive-paddings(0, 0, 0, 0, 0, 0, 0, 0, 1320);

    &--black {
      text-fill-color: $black;
      -webkit-text-fill-color: $black;
      text-stroke: none;
      -webkit-text-stroke: none;
    }
  }

  &__subtitle {
    padding-top: to.rem(32px);
    color: $black;
    font-family: $font-inter;
    font-size: to.rem(25px);
    font-weight: 400;
    line-height: to.rem(27.756px);
  }

  &__top {
    grid-area: 1 / 1 / 2 / span 8;
  }

  &__bottom {
    grid-area: 2 / 10 / 3 / span 5;
    padding-top: to.rem(70px);
  }

  &__picture {
    &-top {
      grid-area: 1 / 9 / 2 / span 6;
      display: flex;
      justify-content: flex-end;
    }
    &-bottom {
      grid-area: 2 / 1 / 3 / span 8;
    }

    &-wrapper-top {
      position: relative;
      width: 90%;
      padding-top: 122%;
      transform: rotate(5deg);
    }

    &-wrapper-bottom {
      position: relative;
      width: 100%;
      height: 80%;
      transform: rotate(-5deg);
    }
  }

  &__img {
    &-top {
      position: absolute;
      top: 0;
      right: 27px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right bottom;
      border: to.rem(16px) solid $yellow;
    }

    &-bottom {
      position: absolute;
      top: -26px;
      left: 56px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right bottom;
    }
  }

  &__text {
    max-width: to.rem(448px);
    color: $black;
    font-family: $font-inter;
    font-size: to.rem(20px);
    line-height: to.rem(26px); /*  */
  }
  &__text:not(:last-child) {
    padding: to.rem(68px 0 24px);
  }

  &__btn {
    margin-top: to.rem(60px);
    padding: to.rem(20.5px 72px);

    @include responsive-paddings(20, 20.5, 20, 20.5, 30, 72, 30, 72, 1320);
  }
}
