.instagram {
  background-color: $black;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: to.rem(680px)) {
      flex-direction: column;
    }
  }

  &__title {
    color: $yellow;
  }

  &__link {
    @include font-base($font-inter, fluid-value(20px, 40px), 400, fluid-value(18px, 20px));
    color: $white;
    padding-bottom: fluid-value(2px, 13px);
    border-bottom: fluid-value(1px, 2px) solid $white;
  }

  &__body {
  }
}
