.instagram {
  background-color: $black;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: to.rem(680px)) {
      flex-direction: column;
    }
  }

  &__title {
    color: $yellow;
  }

  &__link {
    color: $white;
    @include font-base($font-inter, 40, 400, 20);

    padding-bottom: to.rem(9px);
    border-bottom: to.rem(2px) solid $white;

    @include responsive-font-size-line-height(20, 40, 18, 20);
  }

  &__body {
  }
}
