.nav {
  display: flex;
  justify-content: space-between;

  @media (max-width: to.rem(760px)) {
    display: flex;
    justify-content: center;

    &:has(.toggle-menu > input:checked) &__list {
      transform: translate(-16px, -40px);
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: to.rem(760px)) {
      justify-content: flex-start;
      flex-direction: column;
      background-color: $yellow;
      z-index: 88888;
      padding-left: 44%;
      transform: translate(-1000px, 0px);
    }
  }

  &__list-right {
    display: flex;
    column-gap: fluid-value(20px, 60px);
    @media (max-width: to.rem(760px)) {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-left {
    display: flex;
    column-gap: fluid-value(20px, 60px);
    @media (max-width: to.rem(760px)) {
      display: flex;
      flex-direction: column;
    }
  }

  &__desktop {
    display: none;
    @media (max-width: to.rem(760px)) {
      display: none;
    }
  }

  &__item {
    &-mobile {
    }
  }

  &__link {
    font-family: $font-inter;
    font-size: to.rem(17px);
    font-weight: 400;
  }

  &__switcher {
    position: absolute;
    display: none;
  }

  &__wrapper {
    position: relative;

    &:hover .nav__switcher {
      display: block;
    }
  }
}
