.nav {
  display: flex;
  justify-content: space-between;

  @media (max-width: to.rem(760px)) {
    display: flex;
    justify-content: center;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: to.rem(760px)) {
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      background-color: $yellow;
      padding-top: to.rem(98px);
      row-gap: to.rem(40px);
    }
  }

  &__list-right {
    display: flex;
    column-gap: fluid-value(20px, 60px, 760px);
    @media (max-width: to.rem(760px)) {
      min-width: to.rem(300px);
      row-gap: to.rem(40px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__list-left {
    display: flex;
    column-gap: fluid-value(20px, 60px, 760px);
    @media (max-width: to.rem(760px)) {
      min-width: to.rem(300px);
      row-gap: to.rem(40px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__desktop {
    display: none;
    @media (max-width: to.rem(760px)) {
      display: none;
    }
  }

  &__link {
    font-family: $font-inter;
    font-size: to.rem(17px);
    font-weight: 400;

    &--lang {
      cursor: pointer;
    }

    &--visible {
      padding-right: to.rem(10px);
    }

    &--visible::after {
      position: absolute;
      right: to.rem(-8px);
      top: to.rem(7px);
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: to.rem(8px 6px 0 6px);
      border-color: $black transparent transparent transparent;
      transform: rotate(0deg);
    }

    @media (max-width: to.rem(760px)) {
      font-size: to.rem(50px);

      &--visible::after {
        left: to.rem(90px);
        top: to.rem(22px);
        border-width: to.rem(18px 13.5px 0 13.5px);
      }
    }
  }

  &__switcher {
    position: absolute;
    display: none;
    top: to.rem(20px);
    padding: to.rem(10px) 0;

    @media (max-width: to.rem(760px)) and (max-height: to.rem(780px)) {
      background-color: $yellow;
      width: 100%;
      top: to.rem(-135px);
    }

    @media (max-width: to.rem(760px)) and (min-height: to.rem(780px)) {
      background-color: $yellow;

      top: to.rem(70px);
    }
  }

  &__switcher &__item {
    padding-bottom: to.rem(10px);
  }

  &__wrapper {
    position: relative;

    &:hover .nav__switcher {
      display: block;
    }
  }
}
