.nav {
  &__list {
    display: flex;
    gap: to.rem(60px);

    &-desktop {
    }
  }

  &__item {
    &-mobile {
      display: none;
    }
  }

  &__link {
    font-family: $font-inter;
    font-size: to.rem(17px);
    font-weight: 400;
  }

  &__switcher {
    position: absolute;
    display: none;
  }

  &__wrapper {
    position: relative;

    &:hover .nav__switcher {
      display: block;
    }
  }
}
