.runline {
  overflow: hidden;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__line {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    gap: fluid-value(20px, 40px);
    padding: 0 fluid-value(10px, 20px);
    &--left {
      animation-name: marqueeLineLeft;
    }
    &--right {
      animation-name: marqueeLineRight;
      transform: translateX(-100%);
    }
  }

  &__text {
    flex-shrink: 0;
    text-transform: uppercase;
    @include font-base($font-onest, fluid-value(30px, 70px), 700, fluid-value(39px, 91px));

    &--yellow {
      color: #ffe600;
    }

    &--blue {
      color: #20bffe;
    }

    &--green {
      color: #859d6d;
    }

    &--black {
      color: #646464;
    }
  }

  @keyframes marqueeLineLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marqueeLineRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
