.runline {
  overflow: hidden;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__line {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: to.rem(40px);
    padding: to.rem(0 20px);
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @include responsive-gaps-all(20, 40);
    @include responsive-paddings-left(10, 20);
    @include responsive-paddings-right(10, 20);

    &--left {
      animation-name: marqueeLineLeft;
    }
    &--right {
      animation-name: marqueeLineRight;
      transform: translateX(-100%);
    }
  }

  &__text {
    flex-shrink: 0;
    text-transform: uppercase;
    @include font-base($font-onest, 70, 700, 91);
    @include responsive-font-size-line-height(30, 70, 39, 91);

    &--yellow {
      color: #ffe600;
    }

    &--blue {
      color: #20bffe;
    }

    &--green {
      color: #859d6d;
    }

    &--black {
      color: #646464;
    }
  }

  @keyframes marqueeLineLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marqueeLineRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
