.service {
  // padding: to.rem(150px 0);
  background-color: $yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &__title {
    padding-bottom: fluid-value(40px, 75px);
  }
}
