.service {
  padding: to.rem(150px 0);
  background-color: $yellow;
  overflow: hidden;
  padding-left: calc((100vw - 1320px) / 2);
  @include responsive-paddings(60, 150, 60, 150, 16, 16, 16, 16, 1320);

  &__container {
    // ;
    max-width: to.rem(1320px);
  }

  &__title {
    padding-bottom: to.rem(40px);
  }

  &__swiper {
  }
}
