.swiper-service {
  &__body {
    border-radius: to.rem(40px);
    border: to.rem(1px) solid $black;
    overflow: hidden;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: to.rem(10px);
    row-gap: fluid-value(24px, 40px);
    padding: fluid-value(32px, 40px) fluid-value(16px, 40px);

    @media screen and (max-width: to.rem(800px)) {
      grid-template-columns: 1fr;
    }
  }

  &__content-cell {
  }

  &__title {
    color: $black;
    text-transform: uppercase;
    @include font-base($font-onest, fluid-value(25px, 40px), 800, fluid-value(32.5px, 52px));
  }

  &__text:not(:last-child),
  &__list:not(:last-child) {
    padding-bottom: to.rem(20px);
  }

  &__subheading {
    color: $black;
    padding-bottom: to.rem(20px);
    @include font-base($font-inter, fluid-value(16px, 20px), 700, fluid-value(20.8px, 26px));
  }

  &__btn {
    width: 100%;
    border-radius: fluid-value(20px, 40px);
    border: to.rem(1px) solid $black;
    padding: fluid-value(16px, 19px) 0 fluid-value(13px, 16px);
  }

  &__footer {
    padding-top: to.rem(20px);
  }
}
