.swiper-trainers {
  &__wrapper {
  }

  &__slide {
    cursor: pointer;
  }

  &__image-wrapper {
    position: relative;
    padding-top: 77%;
  }

  &__image {
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: rotate(-2deg);
    &--left {
      transform: rotate(2deg);
    }
  }

  &__content {
    padding-top: to.rem(55px);
  }

  &__subheading {
    padding-bottom: fluid-value(20px, 30px);
    @include font-base($font-inter, fluid-value(20px, 25px), 700, fluid-value(26px, 32.5px));
  }

  &__text:not(:last-child) {
    padding-bottom: to.rem(24px);
  }

  &__pagination-wrapper {
    position: relative;
  }

  &__button {
    position: absolute;
    top: fluid-value(75px, 150px);
    padding: to.rem(3px);
    z-index: 1000;
    width: to.rem(50px);
    height: to.rem(50px);
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: to.rem(50px);

    &--next {
      right: fluid-value(47px, 94px);
    }

    &--prev {
      left: fluid-value(47px, 94px);
    }
  }

  &__button.swiper-button-disabled {
    background-color: #d8d2c3;
    display: none;
  }

  @media (max-width: to.rem(760px)) {
    &__button {
      display: none;
    }
  }
}
