.swiper-service {
  &__body {
    border-radius: to.rem(40px);
    border: to.rem(1px) solid $black;
    overflow: hidden;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: to.rem(10px);
    row-gap: to.rem(40px);
    padding: to.rem(40px);
    @include responsive-paddings(32, 40, 32, 40, 16, 40, 16, 40, 1320);
  }

  &__content-cell {
  }

  &__title {
    color: $black;
    text-transform: uppercase;
    @include font-base($font-onest, 40, 800, 52);
  }

  &__text:not(:last-child),
  &__list:not(:last-child) {
    padding-bottom: to.rem(20px);
  }

  &__subheading {
    color: $black;
    padding-bottom: to.rem(20px);
    @include font-base($font-inter, 20, 700, 26);
  }

  &__btn {
    width: 100%;
    border-radius: to.rem(40px);
    border: to.rem(1px) solid $black;
    padding: to.rem(19px 0 16px);
    @include responsive-paddings(16, 19, 13, 16);
  }

  &__footer {
    padding-top: to.rem(20px);
  }
}
