.train {
  background-color: $black;

  &__title {
    color: #ffe600;
  }
  &__content {
    padding-top: fluid-value(40px, 75px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: fluid-value(32px, 100px);
    column-gap: fluid-value(10px, 40px);
    grid-auto-rows: 1fr;

    @include media-custom($screen-size: 660) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
